<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3dpZnR1aS1pbnRyb3NwZWN0IiwibG9jYXRpb24iOnsicmVtb3RlIjpb
		Imh0dHBzOlwvXC9naXRodWIuY29tXC9zaXRlbGluZVwvU3dpZnRVSS1JbnRy
		b3NwZWN0LmdpdCJdfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1l
		bnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIwLjEuNCIsInVwcGVyQm91
		bmQiOiIxLjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVudGl0
		eSI6InN3aWZ0eWRyb3Bib3giLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0
		cHM6XC9cL2dpdGh1Yi5jb21cL2Ryb3Bib3hcL1N3aWZ0eURyb3Bib3guZ2l0
		Il19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5n
		ZSI6W3sibG93ZXJCb3VuZCI6IjkuMS4wIiwidXBwZXJCb3VuZCI6IjEwLjAu
		MCJ9XX19XX1dLCJkaXNwbGF5TmFtZSI6IkhUTUwgRWRpdG9yIiwicGFja2Fn
		ZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltd
		LCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9LHsib3B0
		aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6Im1hY29zIiwidmVyc2lvbiI6IjEx
		LjAifV0sInByb2R1Y3RzIjpbeyJuYW1lIjoiSFRNTCBFZGl0b3IiLCJzZXR0
		aW5ncyI6W3siZGlzcGxheVZlcnNpb24iOlsiMC4xLjEiXX0seyJidW5kbGVW
		ZXJzaW9uIjpbIjEiXX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6
		eyJwcmVzZXRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6InB1
		cnBsZSJ9fX0sImFwcENhdGVnb3J5Ijp7InJhd1ZhbHVlIjoicHVibGljLmFw
		cC1jYXRlZ29yeS5kZXZlbG9wZXItdG9vbHMifSwiYXBwSWNvbiI6eyJwbGFj
		ZWhvbGRlciI6eyJpY29uIjp7InJhd1ZhbHVlIjoicGFwZXIifX19LCJjYXBh
		YmlsaXRpZXMiOlt7ImZpbGVBY2Nlc3NMb2NhdGlvbiI6InVzZXJTZWxlY3Rl
		ZEZpbGVzIiwiZmlsZUFjY2Vzc01vZGUiOiJyZWFkV3JpdGUiLCJwdXJwb3Nl
		IjoiZmlsZUFjY2VzcyJ9LHsicHVycG9zZSI6Im91dGdvaW5nTmV0d29ya0Nv
		bm5lY3Rpb25zIn1dLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQi
		LCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7
		InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNj
		YXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlv
		biI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRz
		IjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0s
		InRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbeyJw
		cm9kdWN0IjpbIkludHJvc3BlY3QiLCJTd2lmdFVJLUludHJvc3BlY3QiLG51
		bGwsbnVsbF19LHsicHJvZHVjdCI6WyJTd2lmdHlEcm9wYm94IiwiU3dpZnR5
		RHJvcGJveCIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFw
		cE1vZHVsZSIsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbeyJwYXRoIjoiUmVz
		b3VyY2VzIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19XSwic2V0dGluZ3MiOltd
		LCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5j
		aWVzIjpbeyJwcm9kdWN0IjpbIkludHJvc3BlY3QiLCJTd2lmdFVJLUludHJv
		c3BlY3QiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJTd2lmdHlEcm9wYm94
		IiwiU3dpZnR5RHJvcGJveCIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwi
		bmFtZSI6IkFwcE1vZHVsZSIsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbeyJw
		YXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19XSwic2V0
		dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9u
		Ijp7Il92ZXJzaW9uIjoiNS42LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		xh+XjxZ0u227A9zdw8FggAxq1f6ixbeVelEKV06jHN0=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.7.1</string>
	</dict>
</dict>
</plist>
